<h1 mat-dialog-title class="login_dialog_title" mat-dialog-title>{{ initData.title }}</h1>
<mat-dialog-content>
  <form [formGroup]="form" novalidate>
    <div class="login_dialog_wrapper">
      <div class="full_size_form">
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="form.controls['username'].hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="password" formControlName="password">
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions class="login_dialog_buttons_wrapper">
  <button mat-button class="login_dialog_button_cancel" (click)="onNoClick()">
    Cancel
  </button>
  <button mat-button class="login_dialog_button_ok" [disabled]="!form.valid || !form.dirty" (click)="onOkClick()">
    OK
  </button>
</div>
