.login_dialog_title {
  color: #465DEF;
  text-align: center;
}

.login_dialog_personal_information_wrapper {
  display: flex;
}

.full_size_form {
  padding: 0 10px 0 10px;
}

.full_size_form>* {
  width: 100%;
}

.login_dialog_button_cancel {
  background-color: #465DEF;
  color: #FFFFFF;
}

.login_dialog_button_ok {
  background-color: #465DEF;
  color: #FFFFFF;
}

.login_dialog_button_ok[disabled] {
  color: white;
  background-color: #465DEF;
  opacity: 0.5;
}

.login_dialog_buttons_wrapper {
  display: flex;
  justify-content: center;
}

.mat-radio-button~.mat-radio-button {
  padding-left: 10px;
}
