
<mat-sidenav-container autosize class="sidebar__container">
  <mat-sidenav mode="side" [opened]="opened" class="sidebar">
    <mat-nav-list class="sidebar__navlist" *ngIf="isLogin">
      <a
        mat-list-item
        class="sidebar__a"
        *ngFor="let place of places"
        [routerLink]="place.location"
        routerLinkActive="sidebar__a_active"
      >
        <span class="sidebar__text">
          {{ place.name }}
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
