<form [formGroup]="form" novalidate>
  <mat-form-field>
    <input matInput placeholder="First name" formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Last name" formControlName="surname" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Phone" formControlName="phone" />
  </mat-form-field>
</form>

<button mat-button (click)="clearForm()">
  Clear
</button>
<button mat-button (click)="search($event)">
  Search
</button>

<div *ngIf="loaded">
  <app-table
    [data]="users$"
    [columns]="mainColumns"
    (clickOnUser)="getAdditionalInfo($event)"
  >
  </app-table>
</div>
<!-- <div>
  <app-additional-info-table [data]="inputToChild"></app-additional-info-table>
</div> -->
