<div class="form">
  <form [formGroup]="form" novalidate>
    <div class="row">
      <mat-form-field class="inputs">
        <input matInput placeholder="First name" formControlName="name" />
        <mat-error *ngIf="form.controls['name'].hasError('minlength')">
            This field required <strong>min 2 symbols</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field class="inputs">
        <input matInput placeholder="Last name" formControlName="surname" />
        <mat-error *ngIf="form.controls['surname'].hasError('minlength')">
            This field required <strong>min 2 symbols</strong>
          </mat-error>
      </mat-form-field>
    </div>
    <div class="second_row">
      <mat-form-field class="inputs">
        <input matInput placeholder="Username" formControlName="username" />
        <mat-error *ngIf="form.controls['username'].hasError('minlength')">
            This field required <strong>min 2 symbols</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field class="inputs">
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="form.controls['email'].hasError('minlength')">
            This field required <strong>correct Email address</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field class="inputs">
        <input matInput placeholder="Phone" formControlName="phone" />
        <mat-error *ngIf="form.controls['phone'].hasError('minlength')">
            This field required <strong>min 6 numbers</strong>
          </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="buttons">
  <button mat-button class="clear_button" (click)="clearForm()">
    Clear
  </button>
  <button mat-button class="search_button" [disabled]="!form.valid || !form.dirty" (click)="search()">
    Find
  </button>
</div>
<div *ngIf="users$">
  <app-table
    [data]="users$"
    [columns]="mainColumns"
    (clickOnUser)="getAdditionalInfo($event)"
  >
  </app-table>
</div>
<div *ngIf="inputToChild">
  <app-additional-info-table [data]="inputToChild"></app-additional-info-table>
</div>
